* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {

    width: 100vw;
    margin: auto;
}


nav {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F55A5A;
    height: 10vh;
    color: #fff;

}

nav p {

    margin-left: 1vw;
    font-size: 2em;

}

nav .nav--eartIcon {

    font-size: 2em;

}

.card {

    display: flex;
    padding-top: 8vh;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}


.card .card--content {

    padding-left: 20px;
    padding-top: 8vh;
    flex-basis: 75%;
    max-width: 70vw;
    justify-content: center;


}

.card--country {

    letter-spacing: 0.17em;
    text-transform: uppercase;

}

.card--googleMaps {

    /* display: block; */
    padding-left: 2vw;
    text-decoration: underline;
    color: #918E9B;

}

.card--image {

    /* height: 168px;
    width: 125px; */
    height: 32vh;
    width: 13vw;
    border-radius: 5px;
    margin-top: 5vh;
    box-shadow: 1px 1px 5px #000;

}

.card--title {

    font-weight: 700;
    padding-bottom: 2vh;
}

.card--dates {

    font-weight: 700;
    line-height: 12px;

}

.card--description {

    font-size: 1.2em;
    font-weight: 400;
    padding-top: 2vh;

}

.nav--locationIcon {

    color: #f00;
    padding-right: 1vh;

}